/* header  */
@media (max-width: 768px){
    
    .hero-section{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .hero-section h5{
        margin-top: 10px;
        padding: 20px;
    }
    .nav-bar{
        flex-direction: column;
        align-items: center;
        
    }
    .nav-bar ul {
            flex-direction: column;
            align-items: center;
            padding: 0;
            gap: 8px;
    }
    
    .nav-bar ul li {
            padding: 10px 0;
            font-size: 14px;
    }
    .hero-images{
        display: flex;
        justify-content: center;
    }
    .hero-image {
        width: 80%;
        margin: 10px 0;
    }
    .hero{
        margin-bottom: 20px;
    }
    .hero h1{
        font-size: 2.2rem;
        margin: 15px 0;
    }
    
}
@media (max-width: 900px) {
    
    header {
            position: relative;
            top: 0;
            left: 0;
            z-index: 1000;
        }
    
    .baniere {
            grid-template-columns: 1fr;
            align-items: center;
        }
    

    .bar-1 {
        min-height: 300px;
        width: 208%;
    }

    .bar2,
    .bar3 {
        min-height: 200px;
    }
}